<nav id="sidebar">
    <div>
        <form>
            <div class="form-group" style="padding: 5px;">Add User</div>
            <div class="form-group">
                <input type="text" class="form-control" name="name" placeholder="USER" [(ngModel)]="username">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="pass1" placeholder="PASS" [(ngModel)]="password">
            </div>
            <div class="form-group">
                <button type="button" class="form-control btn btn-info" id="btn1" (click)="adduser();">Add User</button>
            </div>
        </form>
    </div>
    <div>
        <form>
            <div class="form-group" style="padding: 5px;">Add Relation</div>
            <div class="form-group">
                <input type="text" class="form-control" name="name1" placeholder="USER" [(ngModel)]="user1">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="pass2" placeholder="RELATED AS" [(ngModel)]="relation">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="name2" placeholder="TO USER" [(ngModel)]="user2">
            </div>
            <div class="form-group">
                <button type="button" class="form-control btn btn-info" id="btn2" (click)="addrelation();">Add Relation</button>
            </div>
        </form>
    </div>
    <div>
        <form>
            <div class="form-group" style="padding: 5px;">Delete User</div>
            <div class="form-group">
                <input type="text" class="form-control" name="name3" placeholder="USER" [(ngModel)]="user">
            </div>
            <div class="form-group">
                <button type="button" class="form-control btn btn-info" name="btn3" (click)="delnode();">Delete </button>
            </div>
        </form>
    </div>

    <div class="sidebar-header">
        <h3>Bootstrap Sidebar</h3>
    </div>

    <ul class="list-unstyled components">
        <p>Dummy Heading</p>
        <li class="active">
            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
            <ul class="collapse list-unstyled" id="homeSubmenu">
                <li>
                    <a href="#">Home 1</a>
                </li>
                <li>
                    <a href="#">Home 2</a>
                </li>
                <li>
                    <a href="#">Home 3</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">About</a>
        </li>
        <li>
            <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pages</a>
            <ul class="collapse list-unstyled" id="pageSubmenu">
                <li>
                    <a href="#">Page 1</a>
                </li>
                <li>
                    <a href="#">Page 2</a>
                </li>
                <li>
                    <a href="#">Page 3</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">Portfolio</a>
        </li>
        <li>
            <a href="#">Contact</a>
        </li>
    </ul>

    <ul class="list-unstyled CTAs">
        <li>
            <a href="https://bootstrapious.com/tutorial/files/sidebar.zip" class="download">Download source</a>
        </li>
        <li>
            <a href="https://bootstrapious.com/p/bootstrap-sidebar" class="article">Back to article</a>
        </li>
    </ul>
</nav>